

/* Contenedor principal */
.container {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  max-width: 700px;
}

/* Títulos */
h2 {
  color: #32735B;
  font-size: 2rem;
}

.card-title {
  color: #5A8C7A;
  font-size: 1.2rem;
  border-left: 4px solid #5A8C7A;
  padding-left: 10px;
}

/* Inputs */
input.form-control {
  border-radius: 12px;
  border: 1px solid #A6A6A6;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input.form-control:focus {
  border-color: #32735B;
  box-shadow: 0 0 5px rgba(50, 115, 91, 0.5);
}

/* Checkbox */
.form-check-label {
  user-select: none;
}



#botoncrear{
  background-color: #32735B;
  border: none;
  padding: 12px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 15px;
  transition: background-color 0.3s, transform 0.2s;
}

button[type="submit"]:hover {
  background-color: #285E4B;
  transform: translateY(-1px);
}

/* Fuerza de contraseña */
#passwordStrength {
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 5px;
}

/* Textos y detalles */
.text-danger {
  font-size: 0.85rem;
}

.card {
  border: none;
  background-color: #e4e4e4;
  border-radius: 15px;
}